/**
  * Name: FL
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/

@import url("font-awesome.css");
@import url("owl.carousel.css");
@import url("shortcodes.css");
@import url("magnific-popup.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900");

/**
  *	Reset
  *	Repeatable Patterns
  *	Social-links
  *	Header
  *	Mobile navigation
  *	Page title
  *	Breadcrumbs
  *	Blog
  *	Blog Single
  *	Pagination
  *	Sidebar
  *	GoTop Button
  *	Footer
  *	Footer widget
  *	Bottom
  *	Preload
  *	Parallax
  *	Switcher
  *	Boxed
*/

/* Reset
-------------------------------------------------------------- */
	html {
		overflow-y: scroll;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	body {
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
	dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
		font-family: inherit; 
		font-size: 100%; 
		font-weight: inherit; 
		font-style: inherit; 
		vertical-align: baseline; 
		margin: 0; 
		padding: 0; 
		border: 0; 
		outline: 0;
		background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
		display: block;
	}
	                          
	ol, ul {
		list-style: none;
	}

	blockquote, q { 
		-webkit-hyphens: none;
		  -moz-hyphens: none;
		   -ms-hyphens: none;
		       hyphens: none;
		        quotes: none;
	}

	figure {
		margin: 0;
	}

	:focus {
		outline: 0;
	}

	table { 
		border-collapse: collapse; 
		border-spacing: 0;
	}

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
	}

	legend {
		white-space: normal;
	}

	button,
	input,
	select,
	textarea {
		font-size: 100%;
		margin: 0;
		max-width: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		       box-sizing: border-box;
	}

	button,
	input {
		line-height: normal;
	}

	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height: 1;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		border: none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0; /* Addresses excess padding in IE8/9 */
	}

	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	}

	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}	

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 18px/27px "Karla", sans-serif;
	font-weight: 300;
	background-color: #fff;		
	color: #878c9b;
}

a {		
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #46a5e5;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

ul, ol {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;		
}

.img-right {
	margin: 0 0 0 50px !important;
	float: right;
}

b, strong {
	font-weight: 900;
}

.entry-page p {
	margin-bottom: 25px;
}

button {
	border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {	
    font-weight: 400;
    color: #ffffff;    
    padding: 12px 24px;    
    -webkit-transition: all 0.3s ease 0s;
       -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {		
    border: none;
    height: 50px;    
    outline: none;
    margin-bottom: 30px;
    border-bottom: 2px solid #46a5e5;
	border-radius: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border-bottom: 2px solid #222;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

textarea {
	width: 100%;
	height: 150px;	
}

input[type="checkbox"] {
	display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {		
	color: #6a6a6a;
	opacity: 1;
}

input:-ms-input-placeholder {
	color: #6a6a6a;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #6a6a6a;
	opacity: 1;
}

/* bootstrap resetting elements */
.btn {
	background-image: none;
}

textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #000;
}

h1 { font-size: 60px; line-height: 60px; }
h2 { font-size: 45px; line-height: 45px; }
h3 { font-size: 40px; line-height: 40px; }
h4 { font-size: 25px; line-height: 25px; }
h5 { font-size: 20px; line-height: 20px; }
h6 { font-size: 18px; line-height: 18px; }

.blog-single .entry p {
	margin-bottom: 30px;
}

.blog-single blockquote {
    padding: 30px 20px 38px 35px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1.5px;
}

.blog-single blockquote::before {
    content: "''";
    position: absolute;
    top: 22px;
    left: 7px;
    color: #46a5e5;
    font-size: 49px;
    font-weight: 100;
    font-style: italic;
    z-index: 1;
}

.blog-single .img-left {
	float: left;	
	margin-right: 20px;
	margin-bottom: 20px;
}

.blog-single .content-post:after, 
.blog-single .content-post:before,
.blog-single .entry:after,
.blog-single .entry:before {
    content: "";
    display: table;
    clear: both;
}

/* Social-links
-------------------------------------------------------------- */
.social-links {
	padding: 0;
	margin: 0;
	text-align: right;
}

.social-links a {
	display: inline-block;
	margin-left: 8px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	background: #507cbe;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 50%;
}

.social-links a.twitter {
	background: #00abef;
}

.social-links a.google {
	background: #d93e2d;
}

.social-links a.youtube {
	background: #d12121;
}

.social-links a:hover {
	opacity: 0.7;
}

/* Header
-------------------------------------------------------------- */
.fl-wrap-header {	
	padding: 0 0 0;
	position: relative;
}

.fl-wrap-header .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: rgba(24, 33, 65, 0.9);	
}

.header {	
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;    
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.header .logo {		
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	margin: 27px 0 0 0;	
}

/* Header Fix */
.header.downscrolled {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
    opacity: 1;
    background-color: rgba(10, 10, 10, 0.7);  
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.header.downscrolled .logo {
	margin-top: 17px;
}

.header.downscrolled #mainnav > ul > li > a, .header.downscrolled .menu.menu-extra li a {
	line-height: 90px;
}

/* Menu menu-extra */
.menu.menu-extra li a {
	color: #46a5e5;
	padding: 0 20px;
	line-height: 100px;
	height: 100px;
}

.menu.menu-extra li a:hover {
	color: #fff;
}

/* Navigation */
.nav-wrap {
	position: relative;
	float: right;
}

.nav-wrap .mainnav,
.nav-wrap .menu.menu-extra {
	float: left;
}

.nav-wrap .menu.menu-extra {
	padding-left: 20px;
}

/* Top Search */
.show-search {
    position: relative;
}

.nav-wrap .top-search {
    position: absolute;
    right: 0px;
    top: 110%;
    width: 320px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-wrap .top-search.show {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    top: 100%;
}

.nav-wrap.style-search2 .top-search {
    left: -20%;
}

.nav-wrap .top-search #searchform-all {
	position: relative;
}

.nav-wrap .top-search #searchform-all #s {
    width: 100%;
    padding: 0 10px 0 20px;
    opacity: 0.8;
}

.nav-wrap .top-search #searchform-all label {
	width: 100%;
}

.nav-wrap .top-search #searchform-all #searchsubmit {
    position: absolute;
    right: 12px;
    top: 14px;
    font-family: "FontAwesome";
    color: #46a5e5;
    background: transparent;
    padding: 3px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.show-search.active .fa.fa-search:before {
    content: "\f00d";
}

/* Main Nav */
#mainnav > ul {
	text-align: right;
}

#mainnav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#mainnav ul li {
   position: relative;
}

#mainnav > ul > li {
   display: inline-block;   
}

#mainnav > ul > li > a {
    font-size: 14px;    
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 100px;
    margin: 0 20px 0 20px;   
}

#mainnav > ul > li.home > a {
	position: relative;
}

#mainnav > ul > li.home > a:after {
	width: 100%;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    background: #46a5e5;
}

#mainnav > ul > li > a:after {
	width: 0;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    background: #46a5e5;    
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}	

#mainnav > ul > li > a:hover:after {
	width: 100%;
}

/* submenu */
#mainnav ul.submenu {
	text-align: left;
   	position: absolute;
   	left: 0;
   	top: 150%;
   	width: 200px;
   	background-color: #222222;
   	z-index: 9999;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	  filter: alpha(opacity=0);
     opacity: 0;  
   visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #46a5e5;
}

/* Right sub-menu */
#mainnav ul.right-sub-menu {
    left: auto;
    right: 0;
}

#mainnav ul li:hover > ul.submenu {
	top: 100%;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
      opacity: 1;
   visibility: visible;
}

#mainnav ul li ul li {
   margin-left: 0;
}

#mainnav ul.submenu li ul {
   position: absolute;
   left: 300px;
   top: 0 !important;
}

#mainnav ul.submenu > li {
   border-top: 1px solid #333333;  
}

#mainnav ul.submenu > li.sub-parent:after {
	content: "\f105";
   	font-family: "FontAwesome";
   	font-size: 14px;
   	position: absolute;
   	right: 25px;
   	top: 11px;
   	color: #999999;
   -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;

}

#mainnav ul.submenu li:first-child {
   border-top: none;
}

#mainnav ul.submenu > li > a {
    display: block;    
    letter-spacing: 3px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 0 26px;
    line-height: 50px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu > li > a:hover {
	background-color: #46a5e5;
	color: #fff;
}

#mainnav ul.submenu > li.sub-parent:hover::after {
	right: 18px;
}

#mainnav > ul > li > a:hover,
#mainnav > ul > li.home > a {
   color: #46a5e5 ;
   position: relative;
}

/* Hover Menu */
#mainnav > ul > li > a {
	position: relative;
}

/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
   	display: block;
   	margin: 0 auto;
   	width: 100%;
   	position: absolute;
   	top: 16%;
   	background-color: #222222;
   	z-index: 999999999;
}

#mainnav-mobi ul {
   	display: block;
   	list-style: none;
   	margin: 0;
   	padding: 0;
}

#mainnav-mobi ul li {
   	margin:0;
   	position: relative;
   	text-align: left;
   	border-top: 1px solid #333333;
   	cursor: pointer
}

#mainnav-mobi ul > li > a {
   	text-decoration: none;
   	height: 50px;
   	line-height: 50px;
   	padding: 0 15px;
   	color: #fff;
}

#mainnav-mobi ul.sub-menu {
   	top: 100%;
   	left: 0;
   	z-index: 2000;
   	position: relative;
   	background-color: #333333;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
   	position: relative;
   	border-top: 1px solid #333333;
   	padding-left: 15px;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
   	padding-left: 45px !important
}

#mainnav-mobi ul.sub-menu > li > a {
   	display: block;
   	text-decoration: none;
   	padding: 0 60px;
   	border-top-color: rgba(255,255,255,.1);
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
	border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
	color: #fff;
}

/* Button menu mobile */
.btn-menu {
	display: none;
	position: relative;
	background: transparent;
	cursor: pointer;
	margin: 35px 0px 30px 15px;
	width: 26px;
	height: 16px;
	float: right;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: #46a5e5;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: '';
	position: absolute;
	top: 0;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

.btn-menu.active span {
	opacity: 0;
}

.btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 20px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 70px;
   height: 44px;
}

.btn-submenu:before {
   content: "\f107";
   color: #fff;
}

.btn-submenu.active:before {
   content: "\f106"
}

.btn-menu {
   display: none 
}

/* Page title
-------------------------------------------------------------- */
.page-title {
	position: relative;
	padding: 205px 0 73px;	
}

.page-title-heading h1 {	
    font-weight: 400;
    font-style: normal;    
    font-size: 56px;
    text-align: center;
    color: #fff;      
    letter-spacing: 1px;
    margin-bottom: 185px;    
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs ul {
	padding-top: 0;
	text-align: center;
}

.breadcrumbs ul li {
	display: inline-block;	
	position: relative;
	margin-right: 37px;
	color: #fff;
}

.breadcrumbs ul li a {	
    color: #fff;    
    font-size: 16px;
    font-weight: 400;    
}

.breadcrumbs ul li a:hover {
	color: #46a5e5;
}

.breadcrumbs ul li:before {
	position: absolute;
	right: -24px;
    top: 1px;
	font-family: "FontAwesome";
	content: "\f105";
	color: #fff;
}

.breadcrumbs ul li:last-child::before {
	width: 0;
	height: 0;
	background-color: transparent;
	content: "";
}

/* Blog
-------------------------------------------------------------- */
.entry p {
	margin-bottom: 20px;
}

.main-content {
	padding: 100px 0;
}

article {
	margin-bottom: 60px;
}

article .featured-post {
	position: relative;
	margin-bottom: 25px;
}

article .post-comment {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 20;
	background-color: #46a5e5;
	text-align: center;	
	color: #fff;
}

article .post-comment li.date span {
	display: block;
	font-size: 14px;
}

article .post-comment li.date .day {
	font-size: 30px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
}

article .post-comment li.comment {
	background-color: #333333;
	font-size: 14px;
	padding: 3px 0;
}

article .post-comment li {
	display: block;
}

article .content-post .title-post {
	font-size: 36px;
    font-weight: 500;    
    margin-top: 0px;
    margin-bottom: 0;
    color: #182141;
}

article ul.meta-post,
article ul.post-date {
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	margin-top: 0;	
	margin-bottom: 0;
}

article ul.post-date {
	color: #a9adb9;
	margin-bottom: 20px;
}

article ul.meta-post li {
	position: relative;
	display: inline-block;	
	margin-right: 10px;
	list-style: none;
	background: #46a5e5;
	padding: 0 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

article ul.meta-post li a,
article ul.meta-post li {	
    color: #fff;   
    line-height: 19px; 
}

/* Blog Single
-------------------------------------------------------------- */
.blog-single .entry h4 {    
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0;
    margin-bottom: 14px;
    margin-top: 25px;
}

.blog-single .category-post-single {
	padding: 0;
	margin: 0;
	list-style: none;
}

.blog-single ul.social-share {
	padding: 0;
	margin: 29px 0 0 0;
	list-style: none;
	padding-bottom: 43px;	
	border-bottom: 1px solid #e5e5e5;
}

.blog-single ul.social-share li {
	display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 16px;
}

.blog-single ul.social-share li a {
	margin: 0 17px;
	color: #999999;
	font-size: 18px;
}

.blog-single ul.social-share li a:hover {
	color: #edb820;
}

/* Navigation posts-navigation */
.blog-single .direction {
    text-align: center;
}

.blog-single .direction {
    text-align: center;
    padding-top: 45px;
    border-top: 1px solid #eeeeee;
}

.blog-single .direction ul li:first-child {
    float: left;
}

.blog-single .direction ul li ul.social-icons li {
    display: inline-block;
    margin-right: 4px;
}

.blog-single .direction ul li ul.social-icons li a {
    width: 36px;
    height: 36px;
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    color: #6a6a6a;
    border-radius: 50%;
}

.blog-single .direction ul li ul.social-icons li a:hover {
	background-color: #46a5e5;
	color: #fff;
}

.accent-button a:hover {
    opacity: 0.9;
    transition: all 0.5s;
}

.accent-button a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 24px;
    background-color: #46a5e5;
}

.accent-button a:hover {
	background-color: #333;
	color: #fff;
}

.black-button a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 24px;
    background-color: #333;
}

.black-button a:hover {
	background-color: #46a5e5;
	color: #fff;
}

.blog-single .direction ul li ul.social-icons {
    padding: 0;
    margin-top: -10px;
    text-align: center;
    list-style: none;
}

.blog-single .direction ul li:last-child {
    float: right;
}

.blog-single .direction ul li {
    display: inline-block;
}

/* Comment List */
.comment-list article {
	margin-bottom: 5px;
}

.comment-list ol.children {
	margin-left: 30px;
}

.comments-area .comments-title {
	border-top: 1px solid #eeeeee;
	margin-top: 30px;
	padding-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.comments-area ol.comment-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.comments-area ol.comment-list article {
	border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
}

.comments-area ol.comment-list article .comment-author {
	float: left;
	margin-right: 20px;
	width: 80px;
	height: 80px;
}

.comments-area ol.comment-list article .comment_content .comment_meta {
	margin-bottom: 20px;
}

.comments-area ol.comment-list article .comment-text {
	padding-bottom: 50px;
}

.comments-area ol.comment-list article .comment-content {
	overflow: hidden;
}

.comments-area ol.comment-list article .comment-text h5 {	
    font-size: 14px;
    line-height: 23px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
}

.comments-area ol.comment-list article .comment_text {
	padding-bottom: 37px;
	overflow: hidden;
}

.comments-area ol.comment-list article {
	position: relative;
}

.comments-area ol.comment-list article .comment-metadata .date {	
    font-size: 14px;
    line-height: 23px;    
    color: #a8a8a8;    
}

.comments-area ol.comment-list article .reply .comment-reply-link {
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
	left: 100px;
	bottom: 29px;
	padding: 6px 18px 6px 18px;
    background-color: #46a5e5;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.comments-area ol.comment-list article .reply .comment-reply-link:hover {
	background-color: #333;
	color: #fff;
}

.comments-area ol.comment-list article .unapproved {
	float: right;
}
	
.comments-area ol.comment-list article .gravatar img {
	border-radius: 50%;
}

/* Comment form */
.comment-respond .comment-reply-title {
	margin-top: 60px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.comment-respond .comment-notes,
.comment-respond .comment-form-email {
	width: 50%;
	float: left;
}

.comment-respond .comment-notes {
	padding-right: 10px;
}

.comment-respond .comment-form-email {
	padding-left: 10px;
}

.comment-respond .message,
.comment-respond input[type="email"],
.comment-respond input[type="text"] {
	width: 100%;
}

.comment-respond .name-container,
.comment-respond .email-container,
.comment-respond .message {
	position: relative;
}

.comment-respond .name-container:before,
.comment-respond .email-container:before,
.comment-respond .message:before {
	content: "\f007";
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    top: 14px;
    left: 15px;
    color: #bcbcbc;
}

.comment-respond .email-container:before {
	content: "\f0e0";
	left: 30px;
}

.comment-respond .message:before {
	content: "\f075";
}

.comment-respond textarea {	
	height: 200px;
}

.comment-respond .comment-submit {	
	padding: 18px 32px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    background: #46a5e5;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}

.comment-respond .comment-submit:hover {
	background-color: #333;
	color: #fff;
}

/* Pagination
-------------------------------------------------------------- */
.blog-pagination {
	padding-top: 33px;
	border-top: 1px solid #ebebeb;	
}

.blog-pagination .flat-pagination li {
	display: inline-block;
	margin-left: 8px;
}

.blog-pagination .flat-pagination li a {
	color: #6a6a6a;
    font-size: 15px;
    font-weight: 400;
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    background-color: #ebebeb;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.blog-pagination .flat-pagination li a:hover {
	background-color: #46a5e5;
	color: #fff;
}

.blog-pagination .flat-pagination li.prev a:hover,
.blog-pagination .flat-pagination li.next a:hover {
	background: transparent;
	color: #46a5e5;
}

.blog-pagination .flat-pagination li.prev i,
.blog-pagination .flat-pagination li.next i {
	font-weight: 700;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
} 

.blog-pagination .flat-pagination li.prev {
	float: left;
	padding-left: 0;
	margin-left: 0;
	background-color: transparent;
}

.blog-pagination .flat-pagination li.prev a {
	text-align: left;
	background-color: transparent;
}

.blog-pagination .flat-pagination li.next {
	float: right;
	padding-right: 0;
	margin-left: 0;
	background-color: transparent;
}

.blog-pagination .flat-pagination li.next a {
	text-align: right;
	background-color: transparent;
}

.blog-pagination .flat-pagination li.active {
	color: #fff;
    font-size: 15px;
    font-weight: 600;
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    background-color: #46a5e5;
}

/* Sidebar
-------------------------------------------------------------- */
.sidebar {
	padding-left: 50px;
}

.sidebar .widget {
	margin-bottom: 45px;	
	position: relative;
}

.widget ul  {
	padding: 0;
	margin: 0;
}

.widget ul li {
	list-style: none;
	padding: 7px 0 8px;
}

.widget ul li:first-child {
	padding: 0px 0 8px;
}

.widget .widget-title {
	position: relative;
	margin-top: 0px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;       
    color: #46a5e5;
    margin-bottom: 30px;
    padding-bottom: 10px;
    letter-spacing: 1.8px;
    display: inline-block;
}

.widget .widget-title:after {
	position: absolute;
	left: 0;
	bottom: 0px;
	background: #f7f7f7;
	content: "";
	width: 100%;
	height: 1px;
}

/* Widget search */
.widget.widget_search .widget-title {
	margin-bottom: 37px;
}

.widget.widget_search .search-form {
    width: 100%;
	height: 50px;
	position: relative;
	margin: 0;
}

.widget.widget_search .search-form label {
	display: block;
}

.widget.widget_search .search-form input[type="search"] {
	border-color: #46a5e5;
	width: 100%;
}

.widget.widget_search .search-form input[type="search"]:focus {
	border-color: #46a5e5;
}

.widget.widget_search .search-form .search-submit {
    background-image: none;
    background-color: transparent;
    background-size: 20px 20px;
    background-position: center right;
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;    
    padding: 5px 0 5px 10px;
    text-indent: -9999px;
    padding: 0;
    position: absolute;
    right: 21px;
    top: 13px;    
}

/* Widget categories */
.widget.widget_categories ul li {	
	position: relative;		
}

.widget.widget_categories ul li:last-child {
	border-bottom: 0;
}

.widget.widget_categories ul li a {	
    color: #333333;	    
    font-weight: 400;
}

.widget.widget_categories ul li a:hover {
	color: #46a5e5;
}

/* Widget recentpost */
.sidebar .widget-recent-news {
	margin-bottom: 58px;
}

.widget.widget-recent-news ul li {
	padding: 0 0 18px;
	overflow: hidden;
}

.widget.widget-recent-news ul li:last-child {
	padding-bottom: 0;
}

.widget.widget-recent-news ul li .thumb {
	float: left;
	margin-right: 20px;	
}

.widget.widget-recent-news ul li .text {
	overflow: hidden;	
	position: relative;	
}

.widget.widget-recent-news ul li .text p {	
	color: #46a5e5;	
	font-size: 16px;
}

.widget.widget-recent-news ul li .text h6 {
	line-height: 23px;	
	color: #222222;
	font-weight: 500;
	margin-bottom: 0;
	font-size: 18px;
}

/* Widget tag */
.widget.widget_tag_cloud .widget-title {
	margin-bottom: 32px;
}

.widget.widget_tag .tag-list a {
	display: inline-block;
	color: #182141;    
    font-weight: 400;    
    display: inline-block;
   
    margin: 0 5px 5px 0;
}

.widget.widget_tag .tag-list a.active,
.widget.widget_tag .tag-list a:hover {
	color: #46a5e5;	
}

/* GoTop Button
-------------------------------------------------------------- */
.go-top {
   	position: fixed !important;
   	right: -35px;
	bottom: 15px;   
   	width: 60px;
   	cursor: pointer;   
    background-color: #182141;
   	height: 60px;
   	line-height: 60px;
   	text-align: center;
   	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;   	
   	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	  	opacity: 0;
}

.go-top.show {
	right: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
	z-index: 99;
}

.go-top i {
	font-size: 18px;
	color: #fff;
	padding-bottom: 3px;	
}

.go-top:hover {
    background-color: #46a5e5;
}

.go-top:hover i {
	color: #fff;
}

/* Footer
-------------------------------------------------------------- */
footer {
    background-color: #0e1220;
    padding: 120px 0 64px;
    color: #878c9b;    
}

footer.style1 {
	padding: 80px 0 74px;
}

footer a {
	color: #878c9b;
}

footer a:hover {
	color: #46a5e5;
}


.widget ul.menu  li {
	padding: 6px 0 6px 0;
	position: relative;	
}

.widget ul.menu  li:first-child:before {
	top: 9px;
}

/* Footer widget tilte */
.footer .widget .widget-title {
	font-weight: 400;	
	position: relative;
}

/* widget widget_text widget_info */
.widget.widget_text.widget_info {
	margin-right: -30px;
}

/* footer widget nav */
.footer .widget.widget_nav_menu {
	padding-left: 40px;
}

/* Footer widget
-------------------------------------------------------------- */
.footer-widgets .widget .widget-title {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
}

.footer-widgets .widget .widget-title:after {
	display: none;
}

.footer-widgets .widget.widget_text p {
	margin-bottom: 10px;
} 

.footer-widgets .widget ul li {
	padding: 2px 0 2px 0;
}

/* Widget info */
.widget.widget_info .footer-info {
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.widget.widget_info p {
	margin-bottom: 18px;
}

ul.footer-info {
	margin: 2px 0 0 5px;
}

ul.footer-info li {
	position: relative;
    padding: 0 0 17px 30px;
}

.footer-widgets ul.footer-info li:before {
    content: "\f041";
    font-family: "FontAwesome";
    color: #46a5e5;
    position: absolute;
    left: 1px;
    top: 0;
}

.footer-widgets ul.footer-info li.phone:before {
    content: "\f095";
}

.footer-widgets ul.footer-info li.email:before {
    content: "\f003";
}

.widget.widget_info .flat-button {
	margin-top: 5px;
	background-color: #46a5e5;
	color: #fff;
}

.widget.widget_info .flat-button:hover {
	background-color: #333333;
}


.main-content.services.v2 {
	position: relative;
}

.main-content.services.v2:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 31.3%;
    height: 100%;
    content: "";
    background-color: #f5f5f5;
}

/* Bottom
-------------------------------------------------------------- */
.bottom {
	background-color: #0e1220;
	padding: 26px 0 40px;
	color: #878c9b;
}

.bottom .copyright a {
	color: #46a5e5;	
}

.bottom .copyright {
	line-height: 40px;
}

.bottom .copyright a:hover {
	color: #646464;
}

/* Parallax
-------------------------------------------------------------- */
.parallax {
	width: 100%;
	background-attachment: fixed;
	background-position: 50% 0;
}

.parallax1 { background-image: url(../images/parallax/bg-parallax1.jpg); }

.parallax3 { background-image: url(../images/parallax/bg-parallax3.html); }

.parallax4 { background-image: url(../images/parallax/bg-parallax4.html); }


/* Preload
-------------------------------------------------------------- */
.loading-overlay {
    background: #FFF;
    color: #424242;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
}

.loader, .loader:after {    
    width: 30px;
    height: 30px;
}

.loader {
    margin: 20% auto;
    border-radius: 50%;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(194, 193, 193, 0.5);
    border-right: 1.1em solid rgba(199, 197, 197, 0.5);
    border-bottom: 1.1em solid rgba(203, 203, 203, 0.5);
    border-left: 1em solid #46a5e5;
    -webkit-animation: fa-spin 2s infinite linear;
           animation: fa-spin 2s infinite linear;     
}

/* Switcher
-------------------------------------------------------------- */
.switcher-container {
   position: fixed;
   left: -220px;
   top: 90px;
   width: 220px;
   background-color: #000;
   z-index: 99999999;
}

.switcher-container h2 {
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0;
    text-transform: uppercase;
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	padding-right: 30px;
	margin: 0;
}

.switcher-container h2 a {
   background-color: #000;
   display: block;
   position: absolute;
   right: -45px;
   top: 0;
   width: 45px;
   height: 45px;
   line-height: 45px;
   text-align: center;
   outline: 0;
   color: #fff;
   -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.switcher-container h2 a.active {
	right: 0;
}

.switcher-container h2 a.active:after {
	position: absolute;
	right: 21px;
	top: 0;
	content: "\f104";
	font-family: "FontAwesome";
	color: #fff;
	font-size: 22px;
}

.switcher-container h2 a.active i {
	display: none;
}

.switcher-container h2 a:hover,
.switcher-container h2 a:focus {
   text-decoration: none;
}

.switcher-container h2 i {
   	margin-top: 10px;
   	font-size: 25px;
   	color: #999;
    -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear; 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.switcher-container h2 i:hover {
	color: #fff;
}

.switcher-container h3 {
   font-size: 12px;
   font-weight: 700;
   color: #fff;
   margin: 0;
   line-height: 22px;
   margin-bottom: 10px;
}

.switcher-container .selector-box {   
   color: #fff;
   overflow: hidden;
}

.switcher-container .layout-switcher {
   margin: 0 0 10px 0;
   overflow: hidden;
}

.switcher-container .layout-switcher a.layout {
   float: left;
   display: block;
   cursor: pointer;
   text-align: center;
   font-weight: 700;
   padding: 10px 20px;
   margin-left: 10px;
}

.switcher-container .layout-switcher a.layout:first-child {
   margin-left: 0;
}

.switcher-container .layout-switcher a.layout:hover {
   color: #fff;
   cursor: pointer;
}

.switcher-container .color-box {
   height: auto;
   overflow: hidden;
   margin-bottom: 6px;
}

.switcher-container .styleswitch {
    margin-bottom: 10px;
}

.sw-odd {
	background-color: #272727;
	padding: 21px 0 30px 20px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-odd .sw-image {
    padding: 0 20px 15px 0;
}

.sw-odd .sw-image a {
    padding: 0;
    margin-bottom: 5px;
}

.sw-odd .sw-image .sw-buy {
    position: relative;
    width: 100%;
    border: none;
    background: #6f9a37;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 48px 12px 51px;
    border-radius: 0;
}

.sw-odd .sw-image .sw-buy:hover {
    background-color: #2e363a;
}

.sw-even {
	background-color: #191919;
	padding: 21px 0 25px 20px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even a {	
	font-family: "Karla", sans-serif;
    text-transform: uppercase;
	font-size: 12px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px 10px 20px;
	margin-right: 10px;
	letter-spacing: 1.8px;
}

.sw-even a:hover {
	background-color: #32bfc0;
	border: 1px solid #32bfc0;
	color: #fff !important;
}

.sw-light {
	background-color: #fff;
	color: #000 !important;
}

.sw-odd a {	
	font-size: 16px;
	color: #fff;
	width: 100%;
	display: inline-block;
	line-height: 17px;
	width: 100%;
	position: relative;
	padding-left: 47px;
}

.sw-odd .ws-colors a:before {
	background: none;
}

.sw-odd .ws-colors a {
	position: relative;
	width: auto;
	padding: 0;	
	width: 30px;
	height: 30px;
	background-color: #333;	
	display: inline-block;
	margin-right: 5px;	
	overflow: hidden;
}

.sw-odd .ws-colors a.current:before {
	position: absolute;
    left: 8px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	z-index: 999;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

.sw-odd .ws-colors #color1 {
	background-color: #46a5e5;
}

.sw-odd .ws-colors #color2 {
	background-color: #ff7f00;
}

.sw-odd .ws-colors #color3 {
	background-color: #30a9de;
}

.sw-odd .ws-colors #color4 {
	background-color: #002E5B;
}

.sw-odd .ws-colors #color5 {
	background-color: #425cbb;
}

.sw-odd .ws-colors #color6 {
	background-color: #9b23ea;
}

.sw-odd #color2 {
	background-color: #333;
}

.sw-odd .ws-colors a#color2:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #ff5f2e;
}

.sw-odd #color3 {
	background-color: #333;
}

.sw-odd .ws-colors a#color3:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #30a9de;
}

.sw-odd #color4 {
	background-color: #333;
}

.sw-odd .ws-colors a#color4:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #d9e1e8;
}

.sw-odd #color5 {
	background-color: #333;
}

.sw-odd .ws-colors a#color5:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #090707;
}

.sw-odd #color6 {
	background-color: #333;
}

.sw-odd .ws-colors a#color6:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #79bd9a;
}

.sw-even h3 {
	margin-bottom: 6px;
}

/* Pattern */
.sw-pattern.pattern {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	   opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	position: absolute;
	left: 0;
	top: 98%;
	background-color: #000000;
	width: 100%;
	z-index: -1;
	padding: 20px 0 30px 20px;
}

.sw-pattern.pattern a {	
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.sw-pattern.pattern a.current:before {
	position: absolute;
    left: 12px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

/* Boxed */
.home-boxed .boxed {
	z-index: 0;
	width: 92.708%;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	height: 100%;
  	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  	   -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  	        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
}

.rev_slider li.tp-revslider-slidesli {
    position: absolute!important;
}

.overlay-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.3);
}


	
