#siteseal{
      right: 90% !important;
}
body{
    font-family: cursive !important;
    font-style: italic !important;
}

.img-card{
    margin-right: -120px;
}
#loginform-rememberme{
    margin-right: -15px !important;
}
.form-group.field-loginform-rememberme{
        padding-right: 15px;
}
#expityMonth{
        margin-top: 26px;
}
input[type=radio]{
margin-right: -15px !important;
}
    
.radio.pull-right{
    padding-right: 18px;
}