html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.gi-lg{
   font-size: 23px; 
}

#cke_125_fileInput{
    height: 200px;
}
.img-blog{
    width:  109%;;
    height: 400px;
}
.icon-small
{
    height:18px;
    margin:0;
    padding:0;
}

.icon-medium
{
    height:22px;
    margin:0;
    padding:0;
}

.user-info{
        font-size: 30px;
        color: green;
}
.message-payment-form{
    font-style: italic;
    font-size: 19px;
    color: green;
}
.image-edit{
    width: 200px;
    height: 201px;
}
marging-line{
border-left:1px solid #ccc;
height:160px; 
width: 29.994318px;
}

@media only screen and (max-width: 600px) {
 marging-line{
    height:20px !important; 
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 marging-line{
    height:20px !important; 
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 marging-line{
    height:20px !important; 
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
 marging-line{
    height:10px !important; 
    }
}  */

.calculator{
        margin-top: 27px;
}

/* panel box mimpersip */
 .list-unstyled li {
    padding: 10px;
    color: #6c757d;
}
.panel-standerd{
    background-color: #20b23e !important;
   
}
.panel-golden{
    background-color: #FFD700 !important;
   
}
.panel-premium{
    background-color: #008bfd !important;
   
}
.panel-heading{
 text-align: center;
}
.list-unstyled{
font-size: 16px;
}

.list-unstyled li {
    color: black !important;
}